# Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# macOS system files
.DS_Store

# Node.js dependencies
node_modules/

# Environment variables
.env

# Build outputs
dist/
build/
*.log
data/
my_data1.db
